name: 10 control the execution of workflows
on:
    push:
    workflow_dispatch:
        inputs:
            UNIT_TEST:
                type: boolean
                description: 'Set to true to run unit tests'
                required: true
                default: true
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: builfing the code
              run: echo "building the code..."
    unit_test:
        runs-on: ubuntu-latest
        steps:
            - name: running the unit tests
              run: echo "running the unit tests..."
            - name: failing the unit tests
              if: ${{ !inputs.UNIT_TEST }}
              run: exit 1
    deploy_non_prod:
        runs-on: ubuntu-latest
        needs:
            - build
            - unit_test
        steps:
            - name: deploying to non-prod
              run: echo "deploying to non-prod..."
    regression_test:
        runs-on: ubuntu-latest
        needs: deploy_non_prod
        steps:
            - name: running regression tests
              run: echo "running regression tests..."
    deploy_prod:
        runs-on: ubuntu-latest
        needs: regression_test
        steps:
            - name: deploying to prod
              run: echo "deploying to prod..."