name: 15 matrics solution
on: 
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-latest
        name: ${{ matrix.os }}-${{ matrix.node-version }}
        strategy:
            matrix:
                node-version: [18.x, 20.x, 21.x]
                os:
                    - ubuntu-latest
                    - windows-latest
                    - macos-latest
        steps:
            - name: code checkout
              uses: actions/checkout@v5

            - name: node setup
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}