name: 15 matrics solution
on: 
    push:
    workflow_dispatch:
jobs:
    backward-compatability:
        runs-on: ubuntu-latest
        name: ${{ matrix.os }}-${{ matrix.node-version }}
        strategy:
            fail-fast: false
            matrix:
                node-version: [18.x, 20.x, 21.x]
                os:
                    - ubuntu-latest
                    - windows-latest
                include:
                    - os: ubuntu-latest
                      node-version: 16.x
                    - os: ubuntu-latest
                      node-version: 21.x
                      tag: experimental
        steps:
            - name: code checkout
              uses: actions/checkout@v5

            - name: node setup
              uses: actions/setup-node@v4
              with:
                node-version: ${{ matrix.node-version }}
    include-example:
        runs-on: ubuntu-latest
        name: ${{ matrix.colour}}-${{ matrix.shape }}-${{ matrix.size }}
        strategy:
            fail-fast: true
            matrix:
                colour: [red, green]
                shape: [circle, square]
                size: [small, large]
                include:
                     - colour: blue
                       shape: triangle
                     - opacity: 50
        steps:
            - name: Display example matrix values
              run:  echo "${{ matrix.colour }}-${{ matrix.shape }}-${{ matrix.size }}"